body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 420px;
  margin: auto;
}

h1 {
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: #22c55e;
  cursor: pointer;
  font-weight: bold;
}

.options label {
  display: block;
  margin-top: 5px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #334155;
  border-radius: 5px;
  margin-top: 10px;
}

#strengthBar {
  height: 100%;
  width: 0%;
  border-radius: 5px;
}
